$basicallyWhite: #eff6ff;
$textOnLight: #dbeafe;
$mainBackground: #bfdbfe;
$theme_3: #93c5fd;
$theme_4: #60a5fa;
$sidebarBackground: #3b82f6;
$theme_6: #2563eb;
$theme_7: #1d4ed8;
$theme_8: #1e40af;
$theme_9: #1e3a8a;
