* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background: #3b82f6;
  color: #dbeafe;
  grid-row-end: span 2;
  font-weight: 700;
  font-size: 1.1rem;
  display: grid;
  grid-template-rows: minmax(1.5rem, 10vh) minmax(6rem, 90vh);
  grid-gap: 0.5em;
}

.header {
  background: #eff6ff;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: 1em;
}

.main {
  background: #bfdbfe;
}

.icon {
  font-size: 1.5rem;
  margin: 0.3em;
}

.nav {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: 0.5em;
}

.profile-nav {
  display: grid;
  grid-template-rows: repeat(6, minmax(auto, 1.3em));
}

.config-nav {
  display: grid;
  grid-template-rows: repeat(3, minmax(auto, 1.3em));
}

:is(.profile-nav, .config-nav) p {
  display: grid;
  margin-left: 1em;
  grid-template-columns: 1fr 4fr;
}

.header-nav,
.header-control,
.profile-area,
.profile-greeting,
.actions {
  display: flex;
}

.header-nav {
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

input[type=search] {
  background: #bfdbfe;
  width: clamp(200px, 50vw, 700px);
  border: none;
  border-radius: 1em;
}
input[type=search]:focus-visible {
  outline: 2px solid #2563eb;
}

.profile-area,
.header-nav {
  align-items: center;
  gap: 1em;
}

.icon {
  border-radius: 50%;
}

.name {
  font-weight: 700;
}

small {
  font-weight: 700;
}

.greeting {
  width: clamp(150px, 30vw, 300px);
}

.greeting p {
  font-weight: 700;
}

.header-control {
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2em;
}

button {
  background: #3b82f6;
  color: #eff6ff;
  font-weight: 700;
  border: none;
  border-radius: 1.3em;
  height: 3em;
  padding: 0.8em 2em;
}
button:last-of-type {
  margin-right: 2em;
}
button:hover {
  background: #1d4ed8;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

.projects {
  grid-area: 1/1/3/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(auto, 10vh));
  grid-column-gap: 5%;
  align-content: space-evenly;
}

.project-card {
  background: #eff6ff;
  height: 20vh;
  margin-left: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  border-left: 0.6em solid #1e3a8a;
  border-radius: 0.6em;
}
.project-card * {
  margin-left: 1em;
}

.icons {
  align-self: end;
  justify-self: end;
  display: flex;
  gap: 1em;
  margin: 1em;
}

.announcements {
  display: grid;
  grid-template-rows: repeat(3, minmax(auto, 10vh));
  align-content: center;
}

.announcement {
  background: #eff6ff;
}
.announcement p {
  width: 80%;
  margin: 0 auto;
}

.announcement + .announcement .title::before {
  content: " ";
  display: block;
  border-bottom: 0.15em solid #93c5fd;
}

.title,
.tag {
  font-weight: 700;
}

.summary {
  font-style: italic;
  font-weight: 100;
}

.trending {
  display: grid;
  background: #eff6ff;
}

.user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.user-info * {
  margin: 0;
}

.trending::before {
  content: "Trending";
  background: #bfdbfe;
  font-weight: 700;
  font-size: 1.3rem;
}

.projects::before {
  content: "Your Projects";
  background: #bfdbfe;
  font-weight: 700;
  font-size: 1.3rem;
  grid-column-end: span 2;
  align-self: end;
}

.announcements::before {
  content: "Announcements";
  background: #bfdbfe;
  font-weight: 700;
  font-size: 1.3rem;
  align-self: end;
}

.sidebar a {
  text-decoration: none;
  color: #dbeafe;
}
.sidebar a .active {
  background: #1d4ed8;
  border-radius: 0.5em;
}
.sidebar a:hover p {
  background: #60a5fa;
}/*# sourceMappingURL=style.css.map */