@use 'variables' as *;

* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background: $sidebarBackground;
  color: $textOnLight;
  grid-row-end: span 2;
}

.header {
  background: $basicallyWhite;
}

.main {
  background: $mainBackground;
}
